# /opt/ya360-aldpro_syncer/secret.env  (chmod 600, владелец ald2ydx:ald2ydx)
A2Y_ALD_PRO_PASSWORD='password-ald-pro-svc'
A2Y_YANDEX360_OAUTH_TOKEN='ya360_oauth_token'
A2Y_YANDEX360_INITIAL_PASSWORD='InitialPassw0rd!'
# A2Y_MAIL_DOMAIN='example.ru'   # домен для генерации email, если поля нет в ALD Pro
